<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.peter.yin"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:persistent="true" >
        <service
            android:name=".YinService"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.peter.yin" />
            </intent-filter>
        </service>

        <receiver android:name=".RestartReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_RESTARTED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>

</manifest>